node_modules
release
vendor
composer.lock
phpunit.xml
.idea

# VIM
.*.swo
.*.swp
tags
# NetBeans
nbproject
# CVS
CVS
.cvsignore
# TextMate
.#*
# PHP Storm, other java IDE's
.idea
# OS X
.DS_Store
._*
# Windows
Thumbs.db

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out
# Application specific files
venv
node_modules
.sass-cache