////
/// @group Base
////

/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Clearfix */
.cf:before,
.cf:after {
	display: table;
	content: "";
	.flexbox & {
		flex-basis: 0;
		order: 1;
	}
}

.cf:after {
	clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
	display: none !important;
	visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
}

/* Floats */
.right {
	float: right;
	padding: 0 0 $pad $pad;
}

.right-search {
	float: right;
	padding: 0 0 $pad 0;
}

.left {
	float: left;
	padding: 0 $pad $pad 0;
}

/* Text-Align */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

/* Display Classes */
.hide-small {
	@media all and (max-width: $bp-med) {
		display: none;
	}
}

.hide-med {
	@media all and (min-width: $bp-med) and (max-width: $bp-large) {
		display: none;
	}
}

.hide-large {
	@media all and (min-width: $bp-large) {
		display: none;
	}
}

//States
.valid {
	color: $valid;
}

.error {
	color: $error;
}

.warning {
	color: $warning;
}

.information {
	color: $information;
}

.font__secondary {
	font-family: $font__secondary;
}

.color {
	&--one {
		color: $brand__one;
	}
	&--two {
		color: $brand__two;
	}
}

.background {
	&--one {
		color: $white;
		background-color: $background__one;
	}
	&--two {
		color: $white;
		background-color: $background__two;
	}
}
